<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WidgetKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>WidgetKitTests copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>alldayDO Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>alldayDO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>718D9EBE1A436C8400E900D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A2A7761A43B2A50026F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A2A7801A43B2A50026F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A2A7AD1A43B6310026F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A2A7B71A43B6310026F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A2A7CD1A43B6380026F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A2A8661A43C97D0026F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A2A8701A43C97D0026F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D28AFD19294F970047F291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D28B1D19294F970047F291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
