<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alldayDO Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>alldayDO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>718D9EBE1A436C8400E900D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D28AFD19294F970047F291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D28B1D19294F970047F291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D8E6641A45057200A5B9BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D8E66E1A45057200A5B9BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
